.map-leaflet-wrapper {
  flex: 1 1 0%;
  width: 0;
  height: 100%;
  position: relative;
  min-width: 0;

  @media (max-width: 768px) {
    width: 100vw;
    height: 100vh;
    min-width: 0;
  }
}

.leaflet-container {
  height: 100% !important;
  width: 100% !important;
  min-height: 0;
}
